apiVersion: legacy.k8s.keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  name: crczp-client
  labels:
    app: external-sso
spec:
  realmSelector:
    matchLabels:
      app: external-sso
  client:
    attributes:
      pkce.code.challenge.method: S256
    clientId: {{ range $.Values.global.oidcProviders }}{{- if contains "keycloak" .url }}{{ .clientId }}{{- end }}{{- end }}
    clientAuthenticatorType: client-secret
    defaultClientScopes:
      - email
      - profile
      - openid
    directAccessGrantsEnabled: true
    {{- if .Values.development }}
    implicitFlowEnabled: true
    {{- else }}
    implicitFlowEnabled: false
    {{- end }}
    name: "CRCZP-Client"
    optionalClientScopes:
      - offline_access
    protocol: openid-connect
    publicClient: true
    redirectUris:
      - "https://{{ $.Values.global.headHost }}"
      - "https://{{ $.Values.global.headHost }}/index.html"
      - "https://{{ $.Values.global.headHost }}/silent-refresh.html"
      {{- if .Values.development }}
      - "https://localhost:4200"
      {{- end }}
    standardFlowEnabled: true
