replicasCount: 1

image:
  url: ghcr.io/cyberrangecz/frontend-platform/frontend-platform
  tag: v2.3.4

mounts:
  config:
    extension: .json
    mountPath: /app/assets/
    isOneFile: true
    subPath: true
    type:
      configMap:
        name: angular-frontend-configmap

releaseVersion: v2025.11
