replicasCount: 1

image:
  url: ghcr.io/cyberrangecz/backend-mitre-technique-service/mitre-technique-service
  tag: v1.1.0

environments:
  SERVICE_PRECONDITION: uag-service:8084

mounts:
  config:
    extension: .yml
    mountPath: /app/
    isOneFile: true
    subPath: true
    type:
      configMap:
        name: mitre-service-configmap

redis:
  db: 1

fileStorage: crczp/mitre_matrix_visualizer_app/templates/
